body {
    font-family: sans-serif;
}

.link-header {
    border: 1px solid yellow;
    background-image: linear-gradient(to right,yellow,green);
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    box-shadow: 10px 10px 5px 0 black;
}

.asd {
    background-image: linear-gradient(to right,red,green,yellow);
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 10px 10px 5px 0 black;
}

.link-nav {
    border: 1px solid yellow;
    background-image: linear-gradient(to right,yellow,green);
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    float: right;
}

.bbc:hover {
    transform: translateX(500px);
    transition: all 5s linear;
}

header {
    background-color: aquamarine;
    padding: 15px;
    border-radius: 10px;
}

main {
    background-color: aquamarine;
    padding: 15px;
    
}
